<!DOCTYPE html>
<html>
	<head>
		<title>Reel Talk!</title>
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/edit_watchlist.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	
	<body>
	
	<!-- This part is all about the navigation bar -->
	{{> navbar_logged}}

	</body>
    <!-- To add reviews/watchlist tab -->

    <div class="usertab">
		<button id = "usertabbutton-reviews" class="inactive" onclick= "location.href = 'User Profile Reviews.html'">Reviews</button>
		<button id = "usertabbutton-collections" class="active" onclick= "location.href = 'User Profile Collections.html'">Watchlists</button>
	</div>

	<!-- This part is the main page where the posts and stuff are located -->
	<div id="main-center">
		<div class="main-wrapper">
			<div class="main">

				<div class="edit-watchlist-wrapper">

                    <h1>Edit Your Watchlist</h1>
                    <form action="#" id="edit-watchlist-text">
                        <p>Watchlist Name:</p>
                        <input type="text" name="watchlist-name" id="watchlist-name" placeholder="Nostalgic ಥ_ಥ">
                        <p>Watchlist Description (optional):</p>
                        <textarea name="watchlist-description" id="watchlist-description" placeholder="Some nostalgic movies I loved when I was younger"></textarea>
                    
                        <h1>In Your Watchlist</h1>

                        <!-- Item in watchlist -->
						{{> in_watchlist_item}}  <!-- TEMPORARY -->
						{{#each watchlist_item}}
							{{> in_watchlist_item}}
						{{/each}}

                        <div class="edit-watchlist-save"><button type="submit" onclick="location.href='User Profile Collections.html'">Save</button></div>
                    </form>
                    <button class="edit-watchlist-cancel" onclick="location.href='User Profile Collections.html'">Cancel</button>

                </div>
					
			</div>		
		</div>
	</div>

	<script src="js/main.js"></script>
</html>