{{!-- IN THE FOLLOWING FILES: --}}
{{!-- search_results.hbs --}}
{{!-- search_results_logged.hbs --}}

<div class="carousel-item">
    <div class="carousel-item-box">
        <img src="assets/Movie Posters/hunger_games_1.jpg">
        <div class="carousel-item-info">
            <h3>The Hunger Games (2012)</h3>
            <div class="carousel-item-genres">
                <p>Action</p>
                <p>Drama</p>
                <p>Thriller</p>
            </div>
            <p>Katniss Everdeen voluntarily takes her younger sister's place in the Hunger Games: a televised competition in which two teenagers from each of the twelve Districts of Panem are chosen at random to fight to the death.</p>
            <button onclick="oops()">Add to Watchlist</button>
        </div>
    </div>
</div>