{{!-- IN THE FOLLOWING FILES: --}}
{{!-- review_page.hbs --}}

<div class="review-comments">

    <img src="{{profile_picture}}" class="user-comment-pp">
    <div class="review-comment-area">

        <!-- Username and Date Commented-->
        <p class="comment-username">{{username}}</p> <p class="comment-date">{{date}}</p>
        <br>

        <!-- User's Comment -->
        <p class="review-comment">{{content}}</p>
        <br>

        <div class="rating-thumbs">
            <!-- Thumbs up -->
                <i class="fa fa-thumbs-up fa-3x like" onclick="clickrating('up1')" aria-hidden="true" id="upbutton1"></i></a> <input type="text" class="rating-numbers" id="up1" value="21" readonly/>
            <!-- Thumbs down -->
                <i class="fa fa-thumbs-down fa-3x like" onclick="clickrating('down1')" aria-hidden="true" id="downbutton1"></i> <input type="text" class="rating-numbers" id="down1" value="1" readonly/>
        </div>
    </div>
</div>