{{!-- IN THE FOLLOWING FILES: --}}
{{!-- edit_watchlist.hbs --}}

<div class="createnewpost">
    <h1>Create an account</h1>
    <p>Create an account to review, comment, and add movies to a watchlist!</p>
    <button type="button" class="createpost" onclick="SignUpOverlayOn()">Create Account</button>
</div>