{{!-- IN THE FOLLOWING FILES: --}}
{{!-- index.hbs --}}

<div class="postpane">
    <div class="postpane-overlay-buttons">
        <button class="postpane-overlay" onclick="oops()" title="Add to Watchlist"><i class="fa-solid fa-plus"></i></button>
        <button class="postpane-overlay" onclick="oops()" title="Create a Review"><i class="fa-solid fa-pencil"></i></button>
    </div>
    <img src="assets/Movie Posters/shrek.jpg" class="reviewpic">
    
    <!-- Review Bar -->
    <div class="review">
        <a href="user-profiles/profile-review-shreklover.html" title="Visit Profile">ShrekLover:</a>
        <!-- Star Ratings -->
        <div class="star-gold"></div>
        <div class="star-gold"></div>
        <div class="star-gold"></div>
        <div class="star-gold"></div>
        <div class="star-gold"></div>
        
        <!-- The review of the post -->
        <p class="review">THE MEME, THE LEGEND!!! JOIN THE OGRE CULT. LONG LIVE SHREK!</p>
    </div>
    
    
    <!-- Title Bar of the review -->
    <div class="titlebar">
        <h1 class="titlebar">Shrek</h1>
        
        <ul class="titlebar">
        <li><a href="#">Comedy</a></li> <!-- Genre 1 -->
        <li><a href="#">Adventure</a></li> <!-- Genre 2 -->
    
        <button class="comment" onclick="oops()">Write a Comment</button>
    </div>

</div>