<div class="userwindow">
    <div class="userwindowbp">
        <img src="../assets/Movie Posters/bp.png" class="userwindowbp">
    </div>
    <div class="userwindowpp">
        <img src="../assets/users/aud_one.jpg" class="userwindowpp">
    </div>
    <div class = "userwindowinfo">
        <h1 class="userwindowname">
        aud_one
        </h1>
    <p class = "userwindowgender">
        Gender: Female
    </p>

    <p class = "userwindowbirthday">
        Birthday: 03/07/05
    </p>

    <p class ="userwindowposts">
            Posts: 2		
    </p>

    <p class ="userwindowcomments">
            Comments: 111		
    </p>
    </div>
</div> 