{{!-- IN THE FOLLOWING FILES: --}}
{{!-- User Profile Reviews.hbs --}}
{{!-- User Profile Collections.hbs --}}

<div class="userwindow">
    <div class="userwindowbp">
        <img src="Assets/Movie Posters/bp.png" class="userwindowbp">
    </div>
    <div class="userwindowpp">
        <img src="Assets/sample.jpg" class="userwindowpp">
    </div>
    <div class = "userwindowinfo">
        <h1 class="userwindowname">
            user_name
        </h1>
        <p class = "userwindowgender">
            Gender: Female
        </p>

        <p class = "userwindowbirthday">
            Birthday: 11/07/97
        </p>

        <p class ="userwindowposts">
                Posts: 2		
        </p>

        <p class ="userwindowcomments">
                Comments: 25		
        </p>
        <button class = "editprofilebutton" onclick="location.href='User Settings Edit.html'"> 
            Edit Profile
        </button>
    </div>
</div>