<div class="watchlist-pane">
    <h1>My Watchlists</h1>

    {{#each watchlist}}
        <button class="watchlist"><p>{{this.title}}</p></button>
    {{/each}}

    <button id="to-watchlists">View All Watchlists</button>
</div>