<div class="review-comments">

    <img src="{{profile_pic}}" class="user-comment-pp">
    <div class="review-comment-area">

        <!-- Username and Date Commented-->
        <p class="comment-username">{{username}}</p>
        <br>

        <!-- User's Comment -->
        <p class="review-comment">{{content}}</p>
        <br>
    </div>
</div>