{{#if error_msg}}
<div class="msg-box error">
        <div class="msg">
            <pre>{{error_msg}}</pre>
        </div>
</div>
{{/if}}

{{#if success_msg}}
<div class="msg-box success">
        <div class="msg">
            <pre>{{success_msg}}</pre>
        </div>
</div>
{{/if}}