<div class="nav-bar-bg">
    <div class="wrapper">
        <nav>
            <a href="/"><img src="/images/logo.png" class="logo" alt="logo" /></a>
            
            <form action="/search" method="GET">
                <div class="searchbar">
                    <input type="text" class="search-bar" id="search" name="searchQuery">
                    
                </div>
                <button class="searchbutton" type="submit" id="searchbutton"></button>
            </form>
            
            <ul class="nav-items">
                <li id="movies" onclick="showDropdown(this.id)">Movies</li>
                <li id="tv-shows" onclick="showDropdown(this.id)">TV Shows</li>
                <li id="anime" onclick="showDropdown(this.id)">Anime</li>
               <li><a href="/about">About</a></li>
                
                <!-- This is the profile at the top right" -->
                <a href="#">
                    <div class="profile" onclick="showUserDropdown()">
                        <img src="{{profile_pic}}" class="profile" alt="profile">
                        <p class="profile">{{username}}</p>
                    </div>
                </a>
            </ul>
        </nav>
    </div>

    <div id="nav-dropdown-wrapper">
        <div class="dropdown-pane genre-pane">
            <p>Genres:</p>
            <div class="nav-dropdown">
                <div class="genre-col">
                    <a href="#">Action</a>
                    <a href="#">Comedy</a>
                    <a href="#">Drama</a>
                    <a href="#">Fantasy</a>
                </div>
                <div class="genre-col">
                    <a href="#">Thriller</a>
                    <a href="#">Romance</a>
                    <a href="#">Mystery</a>
                    <a href="#">Horror</a>
                </div>
            </div>
        </div>
    </div>

    <div id="user-dropdown">
        <a href="/user-reviews">View Profile</a>
        <a href="/account-settings">Account Settings</a>
        <a href="/logout">Log Out</a>
    </div>
</div>