<div class="watchlist-pane">
    <h1>My Watchlists</h1>

    {{#if watchlists}}
        {{#each watchlists}}
            <button class="watchlist"><p>{{this.title}}</p></button>
        {{/each}}
    {{else}}
        <p class="none-found">Make your first watchlist!</p>
    {{/if}}

    <button id="to-watchlists">View All Watchlists</button>
</div>