<!DOCTYPE html>
<html>
	<head>
		<title>Reel Talk!</title>
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/overlays.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/review_card.css" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d3e3786cbe.js" crossorigin="anonymous"></script>
	</head>
	<body>
	
	<!-- Navigation bar -->
	{{#if username}}
		{{> navbar_logged}}
	{{else}}
		{{> navbar}}
	{{/if}}
	
	<!-- OVERLAY AREAS || THE THINGS THAT POP UP -->
	<div id="darkoverlay"></div>
	{{#if username}}
		{{> overlays/create_review}}
		{{> overlays/add_to_watchlist}}
		{{> overlays/new_watchlist}}
	{{else}}
		{{> overlays/oops}}
	{{/if}}

	<!-- This part is the main page where the posts and stuff are located -->
	<div id="main-center">
		<div class="main-wrapper">
			<h1 class="header-texts">About</h1>
			<div class="main">

			<p>
				We are a movie reviewing website that aims to provide movie enjoyers with more relatable reviews. Instead of reading reviews and opinions from professional critics, users are provided with reviews from virtually anybody that has watched a movie.
				<br>
				<br>
				The packages that our group used for this Machine Project include:
				<br>
				<br>- connect-flash 
				<br>- connect-mongo
				<br>- dotenv
				<br>- express
				<br>- express-fileupload
				<br>- express-session
				<br>- express-validator
				<br>- hbs
				<br>- mongoose
			</p>
				
				<!-- This part is the area where the posts will be placed
				<div class="postarea">
					 Review Cards 
					{{#if review}}
						{{#each review}}
							{{> review_card}}
						{{/each}}
					{{else}}
						<h4 class="none-found">Oops! No reviews found.</h4>
					{{/if}}
				</div>
				
			 This part is the "Create a New Account" pane
				{{#if logged_in}}
					{{> watchlist_pane}}
				{{else}}
					{{> create_account_pane}}
				{{/if}} -->
					
			</div>		
		</div>
	</div>
	
	<script src="js/main.js"></script>
	</body>
</html>
		