<!DOCTYPE html>
<html>
	<head>
		<title>Reel Talk!</title>
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/overlays.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/review_card.css" />
        <link rel="stylesheet" href="css/messages.css" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/d3e3786cbe.js" crossorigin="anonymous"></script>
	</head>
	<body>
	
	<!-- Navigation bar -->
	{{> navbar}}
	
	<!-- OVERLAY AREAS || THE THINGS THAT POP UP -->



	<!-- This part is the main page where the posts and stuff are located -->
	<div id="main-center">
		<div class="main-wrapper">
			<div class="main">
				
                <div id="signup">
                    <h1 class="createaccount">Create a new account</h1>

                    {{> messages}}

                    <form action="/signup" method = "POST">
                    <!-- Email Address -->
                    <div class="createaccount-area">
                        <p class="createaccount-area">Email Address:</p>
                        <input type="text" class="createaccount-area" id="email" name="email"> 
                    </div>
                    
                    <!-- Username -->
                    <div class="createaccount-area">
                        <p class="createaccount-area">Username:</p>
                        <input type="text" class="createaccount-area" id="username" name="username"> 
                    </div>

                    <div class="createaccount-area">
                        <p class="createaccount-area">Birthday:</p>
                        <input type="date" class="createaccount-area" id="birthday" name="birthday"> 
                    </div>

                    <div class="createaccount-area">
                        <p class="createaccount-area">Gender:</p>
                        <select name="gender" id="gender">
                            <option selected disabled>Choose Here</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="na">N/A</option>
                        </select>
                    </div>
                    
                    <!-- Password -->
                    <div class="createaccount-area">
                        <p class="createaccount-area">Password:</p>
                        <input type="password" class="createaccount-area" id="password" name="password"> 
                    </div>
                    
                    <!-- Retype Password -->
                    <div class="createaccount-area">
                        <p class="createaccount-area">Retype Password:</p>
                        <input type="password" class="createaccount-area" id="repassword" name="repassword"> 
                    </div>
                    
                    <button class="createaccount-area">Sign Up</button>
                    </form>
                </div>

			</div>		
		</div>
	</div>
	
	<script src="js/main.js"></script>
	</body>
</html>
		