<div id="add-to-watchlist">
    <h1>Add to Watchlist:</h1>

    <div id="watchlist-container">
        <ul>
            {{#if watchlists}}
                <form action="/add-to-watchlist" method="post">
                    <input class="add-to-watchlist-showId" type="hidden" name="showId">
                {{#each watchlists}}
                    <button name="watchlistId" value="{{this._id}}" class="watchlist add-to-watchlist-item"><p>{{this.title}}</p></button>
                {{/each}}
                </form>
            {{else}}
                <h4 class="none-found">Oops! No watchlists found.</h4>
            {{/if}}
        </ul>
    </div>

    <button id="add-to-watchlist-new" onclick="NewWatchlistOn();">New Watchlist</button>
    <button id="add-to-watchlist-cancel" onclick="AddOverlayOff();">Cancel</button>
</div>