<div id="new-review">
    <h1>Create a New Review</h1>
    <div class="poster-selection">
        <div class="poster-selection-wrapper">
            <img src="{{poster}}" alt="Poster">
        </div
    </div>
    <h2>{{title}} ({{year}})</h2>
    <div class="genres">
        <p>{{genre}}</p>
    </div>
    <form action="/create-review" method = "post">
    <textarea name="review-narrative" id="review-narrative" placeholder="Write a review here..."></textarea>
    <button id="reel-it" onclick="location.href = 'logged_in.html'">Reel It!</button>
    </form>
    <button class="cancel-review" onclick="NewReviewOverlayOff()">Cancel</button>
</div>