<div id="login">
    <h1 class="createaccount">Sign in to your account</h1>
    <h1><a class="cancelbutton" href="#" onclick="LoginOverlayOff()">X</a></h1>
    
    <!-- Email Address -->
    <div class="createaccount-area">
        <p class="createaccount-area">Email Address:</p>
        <input type="text" class="createaccount-area" id="login-email" name="login-email"> 
    </div>
    
    <!-- Password -->
    <form action="/login" method = "post">
    <div class="createaccount-area">
        <p class="createaccount-area">Password:</p>
        <input type="password" class="createaccount-area" id="login-password" name="login-password"> 
    </div>
    
    <button class="createaccount-area" onclick="LoginSuccess()" type = "submit">Log In</button>
    </form>
</div>