{{!-- IN THE FOLLOWING FILES: --}}
{{!-- index.hbs --}}

<div id="signup-success">
    <h1 class="createaccount">Thank you for registering</h1>
    <p class="signup-success">You can now create posts, comment, create watchlists, etc.</p>
    <p class="signup-success">Now, proceed to the log in page to sign in</p>
    <button class="signup-success" onclick="SignUpSuccessClose()">Proceed to Log In</button>
</div>