* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Inter';
	background: #F5F5F5;
}

button {
	cursor:pointer;
}

.wrapper {
	margin-right: 420px;
	margin-left: 420px;
	max-width: 1080px;
}

/*Everything about the Navigation Bar */
nav {
	height: 70px;
	align-items: center;
	display: flex;
}

/* Navigation bar background*/
.nav-bar-bg {
	overflow: hidden;
	position: fixed;
	background: #F05454;
	width: 1920px;
	height: 70px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	z-index:1;
}

/* Logo */
.logo {
	position: absolute;
	width: 97px;
    height: 59px;
    left: 4px;
    top: 7px;
	margin-left: 420px;
}

/* The list in navigation bar*/
nav ul {
	display: flex;
	margin-left: 150px;
}

/* The items in the list */
.nav-items li{
	list-style: none;
	margin-right: 26px;
    margin-left: 31px;
}

/* Specifically the links put in the items */
.nav-items li a{
	font-weight: 400;
	font-size: 15px;
	line-height: 58px;
	text-decoration: none;

	letter-spacing: -0.185731px;

	color: #FFFFFF;

}

/* This bad boy is the design for the annoying search bar DONT TOUCH */
.search-bar {
	position: relative;
    left: 130px;
	background: url("Assets/search.png") no-repeat left;
	background-position: 10px 6px;
	background-size: 20px;
	background-color: white;
	border: 0px;
	outline: none;
	
	width: 370px;
	height: 30px;
	border-radius: 10px;
	
	font-family: 'Inter';
	font-style: bold;
}


/* The design for the main page */
.main {
	position: absolute;
	width: 1080px;
	height: 1980px;
	left: 420px;
	margin-top: 70px;

	background: #FFFFFF;
}

.header-texts {
	position: absolute;
	left: 80px;
	top: 38px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 58px;


	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #000000;
}


.post-frames {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.createnewpost {
	position : fixed;
	width: 220px;
	height: 200px;
	left: 1190px;
	top: 180px;

	background: #F5F5F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	
	display: flex;
}

h1.createnewpost {
	position: absolute;
	left: 40px;
	top: 23px;

	font-weight: 700;
	font-size: 16px;

	display: flex;
	align-items: center;

	color: #000000;
}

p.createnewpost {
	position: absolute;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	
	align-items: center;
	
	width: 177.31px;
	height: 58px;
	left: 21px;
	top: 50px;
}

button.createpost {
	position: absolute;
	width: 160px;
	height: 30px;
	left: 30px;
	top: 140px;
	border: none;
	background: #30475E;
	border-radius: 5px;
	text-decoration: none;
	
	color: #FFFFFF;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	/* identical to box height, or 136% */
}

button.createcollec {
	position: absolute;
	width: 160px;
	height: 30px;
	left: 30px;
	top: 180px;

	background: #FFFFFF;
	border: 1px solid #30475E;
	box-sizing: border-box;
	border-radius: 5px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #30475E;
}

div.postarea {
	position: absolute;
	left: 79px;
	top: 110px;
	width: 650px;
	height: 1640px;
	
	/*background: #00FFFF;*/
}

div.postpane {
	position: relative;
	padding-bottom: 70px;
	height: 360px;
	width: 650px;
	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
	transition: outline, transform 0.3s;
}

div.postpane:hover {
	outline: 5px solid white;
	border-radius: 8px;
	
	transform: scale(1.01);
}

img.reviewpic {
	width: 650px;
	height: 300px;
	object-fit: cover;
	object-position: 0 87%;
	border-radius: 8px 8px 0px 0px;
	transition: object-position 1s ease-out 50ms, filter 0.5s ease-out 50ms;
}

div.review {
	position: absolute;
	width: 650px;
	height: 70px;
	top: 230px;

	background: rgba(65, 65, 65, 0.6);
	mix-blend-mode: normal;
}

h1.review {
	position: absolute;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	top: 10px;
	left: 20px;
	letter-spacing: -0.185731px;
	
	color: #FFFFFF;
}

p.review {
	font-family: 'Inter';
	position: absolute;
	left: 20px;
	top: 30px;

	font-style: normal;
	font-weight: 300;
	font-size: 12px;

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;
	
	color: #FFFFFF;
}

div.titlebar {
	position: absolute;
	width: 650px;
	height: 60px;
	top: 300px;

	background: #F5F5F5;
	border-radius: 0px 0px 8px 8px;
}

h1.titlebar {
	position: absolute;
	left: 20px;
	bottom: 30px;
	
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

ul.titlebar{
	position: absolute;
	display: flex;
	width: 270px;
	list-style: none;
	
	bottom: 10px;
	left: 20px;
	font-weight: 300;
}

.titlebar li{
	margin-right: 20px;
}

.titlebar li a{
	color: black;
}

.star-black {
	position: relative;
	top: 10px;
	left: 550px;
	background: black;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 15px;
	width: 15px;
	padding-left: 10px;
}

.star-gold {
	position: relative;
	top: 10px;
	left: 550px;
	background: gold;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 15px;
	width: 15px;
	padding-left: 10px;
}

button.comment {
	position: absolute;
    width: 130px;
    height: 40px;
    right: -340px;
    bottom: 0px;
	
    background: #30475E;
    border-radius: 8px;
    outline: none;
    border: none;
	
    font-family: 'Inter';
	font-size: 12px;
	color: white;
}


#darkoverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	
	animation-timing-function: ease-out;
	animation-duration: 150ms;
}

#oops {
	position: fixed;
	width: 600px;
	height: 370px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;

	
	z-index: 3;


	background: #FFFFFF;
}


#signup {
	position: fixed;
	width: 600px;
	height: 500px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;
	
	
	z-index: 3;

	background: #FFFFFF;
}


#login {
	position: fixed;
	width: 600px;
	height: 340px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;
	
	z-index: 3;

	background: #FFFFFF;
}

#signup-success {
	position: fixed;
	width: 600px;
	height: 210px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;

	
	z-index: 3;


	background: #FFFFFF;
}

p.oops {
	position: relative;
	top: 80px;
	padding-bottom: 5px;
	width: 600px;
	text-align: center;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

p.oops-p {
	position: relative;
	top: 80px;
	padding-bottom: 5px;
	width: 600px;
	text-align: center;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
}

hr.oops1 {
	position: relative;
	width: 240px;
	top: 65px;
	left: 40px;
	margin-right: 20px;

	border: 1px solid #818181;
	transform: rotate(180deg);
}

hr.oops2 {
	position: relative;
	width: 240px;
	top: 62px;
	left: 320px;
	margin-right: 20px;

	border: 1px solid #818181;
	transform: rotate(180deg);
}

button.oops {
	position: relative;
	width: 520px;
	height: 50px;
	left: 40px;
	top: 80px;
	margin-bottom: 20px;

	border: none;
	background: #30475E;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}


button.signup-success {
	position: absolute;
	width: 520px;
	height: 50px;
	left: 40px;
	bottom: 30px;

	border: none;
	background: #F05454;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}

p.signup-success {
	position: relative;
	top: 80px;
	padding-bottom: 5px;
	width: 600px;
	text-align: center;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}


a.cancelbutton {
	position: absolute;
	width: 11px;
	height: 8px;
	left: 574px;
	top: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;

	letter-spacing: -0.185731px;

	color: #F05454;
}

h1.createaccount {
	position: absolute;
	width: 600px;
	height: 320px;
	text-align: center;
	top: 30px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;

	letter-spacing: -0.185731px;

	color: #000000;
}

div.createaccount-area {
	position: relative;
	left: 50px;
	top: 90px;
	padding-bottom: 70px;
	margin-bottom: 10px;
	
	height: 60px;
	width: 500px;

	color: #000000;
}

p.createaccount-area {
	position: absolute;
	top: 10px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

input.createaccount-area {
	position: absolute;
	width: 500px;
	height: 30px;
	bottom: 0px;

	background: #FFFFFF;
	border: 1px solid #888888;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 10px;
	outline: none;
	
	font-family: 'Inter';
}

button.createaccount-area {
	position: absolute;
	width: 150px;
	height: 40px;
	left: 225px;
	bottom: 30px;

	border: none;
	background: #F05454;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}

button.postpane-overlay {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: rgb(0,0,0,0);
	border: 2px solid #FFFFFF;
	text-decoration: none;
	display: none;
	
	z-index: 1;
	
	/* Mittig */
	top: 130px;
    left: 300px;
	
	font-family: 'Inter';
	color: white;
	font-size: 45px;
	font-weight: 500;
	line-height: 20px;
	
	transition: background-color 0.1s ease-out 5ms, color 0.1s ease-out 5ms;
}

div.postpane:hover button.postpane-overlay{
	display: block;
}

div.postpane:hover img.reviewpic{
	object-position: 0 83.5%;
	
	filter: brightness(50%);
	background-color: rgba(65, 65, 65, 0.6);
	mix-blend-mode: normal;
}

button.postpane-overlay:hover {
	background-color: white;
	opacity: 0.8;
	color: black;
	mix-blend-mode: screen;
}


