* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Inter';
	background: #F5F5F5;
}

button {
	cursor:pointer;
}

.wrapper {
	margin-right: 420px;
	margin-left: 420px;
	max-width: 1080px;
}

/*Everything about the Navigation Bar */
nav {
	height: 70px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

/* Navigation bar background*/
.nav-bar-bg {

	background: #F05454;
	width: 1920px;
	height: 70px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}

/* Logo */
.logo {
	position: absolute;
	width: 97px;
    height: 59px;
    left: 4px;
    top: 7px;
	margin-left: 420px;
}

/* The list in navigation bar*/
nav ul {
	display: flex;
	margin-left: -60px;
    margin-right: -109px;
}

/* The items in the list */
.nav-items li{
	list-style: none;
	margin-right: 70px;
}

/* Specifically the links put in the items */
.nav-items li a{
	font-weight: 400;
	font-size: 15px;
	line-height: 58px;
	text-decoration: none;

	letter-spacing: -0.185731px;

	color: #FFFFFF;

}

/* This bad boy is the design for the annoying search bar DONT TOUCH */
.search-bar {
	padding-left: 40px;
	background: url("Assets/search.png") no-repeat left;
	background-position: 10px 6px;
	background-size: 20px;
	background-color: white;
	border: 0px;
	outline: none;
	
	width: 370px;
	height: 30px;
	border-radius: 10px;
	
	font-family: 'Inter';
	font-style: bold;
}


/* The design for the main page */
.main {
	position: absolute;
	width: 1080px;
	height: 1980px;
	left: 420px;
	top: 70px;

	background: #FFFFFF;
}

.header-texts {
	position: absolute;
	left: 80px;
	top: 38px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 58px;


	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #000000;
}


.post-frames {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.createnewpost {
	position : fixed;
	width: 220px;
	height: 240px;
	left: 1190px;
	top: 180px;

	background: #F5F5F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	
	display: flex;
}

h1.createnewpost {
	position: absolute;
	left: 40px;
	top: 23px;

	font-weight: 700;
	font-size: 16px;

	display: flex;
	align-items: center;

	color: #000000;
}

p.createnewpost {
	position: absolute;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	
	align-items: center;
	
	width: 177.31px;
	height: 58px;
	left: 21px;
	top: 50px;
}

button.createpost {
	position: absolute;
	width: 160px;
	height: 30px;
	left: 30px;
	top: 140px;
	border: none;
	background: #30475E;
	border-radius: 5px;
	text-decoration: none;
	
	color: #FFFFFF;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	/* identical to box height, or 136% */
}

button.createcollec {
	position: absolute;
	width: 160px;
	height: 30px;
	left: 30px;
	top: 180px;

	background: #FFFFFF;
	border: 1px solid #30475E;
	box-sizing: border-box;
	border-radius: 5px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #30475E;
}

div.postarea {
	position: absolute;
	left: 79px;
	top: 110px;
	width: 650px;
	height: 1640px;
	
	/*background: #00FFFF;*/
}

div.postpane {
	position: relative;
	padding-bottom: 70px;
	height: 360px;
	width: 650px;
	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
	transition: outline, transform 0.3s;
}

div.postpane:hover {
	outline: 5px solid white;
	border-radius: 8px;
	
	transform: scale(1.01);
}

img.reviewpic {
	position: absolute;
	width: 650px;
	height: 300px;
	object-fit: cover;
	object-position: 0 87%;
	border-radius: 8px 8px 0px 0px;
	transition: object-position 2s ease-out 50ms;
}

img.reviewpic:hover {
	object-position: 0 80%;
	
	background-color: rgba(65, 65, 65, 0.6);
	mix-blend-mode: normal;
}

div.review {
	position: absolute;
	width: 650px;
	height: 70px;
	top: 230px;

	background: rgba(65, 65, 65, 0.6);
	mix-blend-mode: normal;
}

h1.review {
	position: absolute;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	top: 10px;
	left: 20px;
	letter-spacing: -0.185731px;
	
	color: #FFFFFF;
}

p.review {
	position: absolute;
	left: 20px;
	top: 30px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;
	
	color: #FFFFFF;
}

div.titlebar {
	position: absolute;
	width: 650px;
	height: 60px;
	top: 300px;

	background: #F5F5F5;
	border-radius: 0px 0px 8px 8px;
}

h1.titlebar {
	position: absolute;
	left: 20px;
	bottom: 30px;
	
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

ul.titlebar{
	position: absolute;
	display: flex;
	width: 270px;
	list-style: none;
	
	bottom: 10px;
	left: 20px;
	font-weight: 300;
}

.titlebar li{
	margin-right: 20px;
}

.titlebar li a{
	color: black;
}

.star-black {
	position: relative;
	top: 10px;
	left: 550px;
	background: black;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 15px;
	width: 15px;
	padding-left: 10px;
}

.star-gold {
	position: relative;
	top: 10px;
	left: 550px;
	background: gold;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 15px;
	width: 15px;
	padding-left: 10px;
}

input.comment {
	position: absolute;
    width: 325px;
    height: 35px;
    right: -320px;
    bottom: 0px;
	
    background: #E8CACA;
    border-radius: 15px;
    outline: none;
    border: none;
	
    font-family: 'Inter';
	font-style: bold;
	padding-left: 20px;
}




