#darkoverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	
	animation-timing-function: ease-out;
	animation-duration: 150ms;
}

#oops {
	position: fixed;
	width: 600px;
	height: 370px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;

	
	z-index: 3;


	background: #FFFFFF;
}


#signup {
	position: fixed;
	width: 600px;
	height: 500px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;
	
	
	z-index: 3;

	background: #FFFFFF;
}


#login {
	position: fixed;
	width: 600px;
	height: 340px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;
	
	z-index: 3;

	background: #FFFFFF;
}

#signup-success {
	position: fixed;
	width: 600px;
	height: 210px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;

	
	z-index: 3;


	background: #FFFFFF;
}

#login-success {
	position: fixed;
	width: 600px;
	height: 210px;
	left: 660px;
	top: 200px;
	display: none;
	border-radius: 8px;

	
	z-index: 3;


	background: #FFFFFF;
}



p.oops {
	position: relative;
	top: 80px;
	padding-bottom: 5px;
	width: 600px;
	text-align: center;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

p.oops-p {
	position: relative;
	top: 80px;
	padding-bottom: 5px;
	width: 600px;
	text-align: center;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
}

hr.oops1 {
	position: relative;
	width: 240px;
	top: 65px;
	left: 40px;
	margin-right: 20px;

	border: 1px solid #818181;
	transform: rotate(180deg);
}

hr.oops2 {
	position: relative;
	width: 240px;
	top: 62px;
	left: 320px;
	margin-right: 20px;

	border: 1px solid #818181;
	transform: rotate(180deg);
}

button.oops {
	position: relative;
	width: 520px;
	height: 50px;
	left: 40px;
	top: 80px;
	margin-bottom: 20px;

	border: none;
	background: #30475E;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}


button.signup-success {
	position: absolute;
	width: 520px;
	height: 50px;
	left: 40px;
	bottom: 30px;

	border: none;
	background: #F05454;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}

p.signup-success {
	position: relative;
	top: 80px;
	padding-bottom: 5px;
	width: 600px;
	text-align: center;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}


a.cancelbutton {
	position: absolute;
	width: 11px;
	height: 8px;
	left: 574px;
	top: 16px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;

	letter-spacing: -0.185731px;

	color: #F05454;
}

h1.createaccount {
	position: absolute;
	width: 600px;
	height: 320px;
	text-align: center;
	top: 30px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;

	letter-spacing: -0.185731px;

	color: #000000;
}

div.createaccount-area {
	position: relative;
	left: 50px;
	top: 90px;
	padding-bottom: 70px;
	margin-bottom: 10px;
	
	height: 60px;
	width: 500px;

	color: #000000;
}

p.createaccount-area {
	position: absolute;
	top: 10px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

input.createaccount-area {
	position: absolute;
	width: 500px;
	height: 30px;
	bottom: 0px;

	background: #FFFFFF;
	border: 1px solid #888888;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 10px;
	outline: none;
	
	font-family: 'Inter';
}

button.createaccount-area {
	position: absolute;
	width: 150px;
	height: 40px;
	left: 225px;
	bottom: 30px;

	border: none;
	background: #F05454;
	border-radius: 5px;
	outline: none;
	text-decoration: none;
	

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}



/* New review popup */
#new-review {
    text-align: center;
	display: none;
	background-color: #F5F5F5;
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index: 3;
    padding: 30px 0;
}

#new-review h1 {
    font-weight: 700;
    font-size: 28px;
}

#new-review h2 {
    font-weight: 600;
    font-size: 20px;
}

.poster-selection {
    background-color: rgba(79, 79, 79, 0.2);
	display: flex;
	justify-content: space-evenly;
    padding: 20px 0;
    margin: 15px 0;
}

.poster-selection img {
	width: 210px;
    height: 300px;
}

.genres {
    margin-bottom: 15px;
}

.genres p {
    display: inline;
    margin: 0 5px;
    font-weight: 400;
    font-size: 12px;
}

#review-narrative {
    width: 670px;
    height: 170px;
    margin: 0 15px 15px;
    border: none;
    padding: 10px;
	resize: none;
	overflow-y: scroll;
}

#new-review button {
    display: block;
    margin: 5px auto;
    background-color: #F05454;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
}