p {
    display: inline;
}

/* This is the container for the picture and trailer */
div.pic_vid {
 height: 360px;
 width: 920px;
 justify-content: space-between;
 display: flex;

 margin-bottom: 30px;
}

/* This is the poster to be displayed beside trailer */
img.movieposter {
    height: 360px;
    width: 241.68px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

iframe.trailer {
    width:640px;
    height: 360px;
    margin-right: 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* This is where the title and rating div, and review div is contained */
div.review-container {
    width: 920px;
    height: auto;

    margin-bottom: 30px;
}

/* This is where the title, year released, and rating is contained */
div.review-title {
    height: 50px;
    width: 920px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

div.reviewcontent {
    width: 920px;
    height: auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
}

/* This is where the title, year released, and rating is contained */
div.review-comments-container {
    width: 920px;
    height: auto;

    border-top: 2px solid grey;
}

/* This is where the user will enter his/her comment */
div.user-comment {
    width: 920px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-direction: column;

    margin-top: 40px;
    margin-bottom: 40px;

    border: 2px solid #C4C4C4;
    border-radius: 4px;
}

img.user-comment-pp {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;

    border-radius: 4px;
}

textarea.review-comment-textbox {
    width: 800px;
    height: 80px;
    overflow-y: auto;
    resize: none;
    align-self: flex-end;

    margin-right: 10px;
    margin-top: 10px;

    border-bottom: 2px solid #C4C4C4;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;

    font-family: 'Inter';
}

button.reply-comment {
    width: 50px;
    height: 20px;

    margin-right: 10px;
    margin-bottom: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

    align-self: flex-end;

    background: #C4C4C4;
}



/* This is other user's comments */
div.review-comments {
    width: 920px;
    height: auto;
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: 40px;

    border: 2px solid #C4C4C4;
    border-radius: 4px;
}

p.comment-username {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;

}

p.comment-date {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 14px;

    margin-left: 20px;
}

p.review-comment {
    width: 800px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
}

div.review-comment-area {
    width: 800px;
    height: auto;
    min-height: 100px;

    align-self: flex-end;

    margin-right: 10px;
    margin-top: 10px;
}


/* This is the rating (thumbs up and down) design */
.rating-numbers {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 30px;
    color: #C4C4C4;

    height: 50px;
    width: 40px;

    border: none;
    outline: none;

    margin-left: 10px;
    margin-right: 10px;
}

.rating-thumbs {
    transform: scale(0.45);
    width: 300px;

    margin-top: 10px;
    margin-left: -70px;

    color: #C4C4C4;
  }
  
  .like, .dislike {
    cursor: pointer;

  }
  
  .dislike:hover, .like:hover {
    color: #F05454;
    transition: all .2s ease-in-out;
  }
  
  .active {
    color: #F05454;
  }
