div.userwindow
{
	position: fixed;
	width: 220px;
	height: 300px;
	left: 1200px;
	top: 160px;

	background: #F5F5F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

div.userwindowpp
{
/*	position: absolute;*/
	top: 20px;
	width: 100px;
	height: 100px;
	left: 60px;
	top: 35px;
}

img.userwindowpp
{
	position: absolute;
	width: 100px;
	height: 100px;
	

	border: 5px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50px;

    top: 40px;
    left: 60px;
}

div.userwindowbp
{
/*	position: fixed;*/
	width: 221px;
	height: 90px;
	left: 1200px;
/*	top: 160px;*/
}

img.userwindowbp
{
/*	position: fixed;*/
	width: 221px;
	height: 90px;
}

div.userwindowinfo
{
	top: 310px;
/*	position: fixed;*/
	width: 220px;
	height: 150px;
}

h1.userwindowname
{
	position: relative;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	margin-top: -50px;

	letter-spacing: -0.185731px;

	color: #000000;
}

p.userwindowgender
{
	position: relative;
	width: 110px;
	height: 15px;
	left: 10px;
	top: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;

}

p.userwindowbirthday
{
	position: relative;
	width: 150px;
	height: 15px;
	left: 110px;
    top: -10px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;
}

p.userwindowposts
{
	position: relative;
	width: 110px;
	height: 15px;
	left: 10px;



	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;
}

p.userwindowcomments
{
	position: relative;
	width: 110px;
	height: 15px;
	left: 110px;
	top: -15px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;
}

.editprofilebutton
{

	position: absolute;
	width: 160px;
	height: 30px;
	left: 30px;
	top: 250px;

	background: #F05454;
	border-radius: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: white;
	border: none;
	/* identical to box height, or 413% */

	letter-spacing: -0.185731px;

}