* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Inter';
	background: #F5F5F5;
}

button {
	cursor:pointer;
}

/* Needed to add another wrapper to center properly */
#main-center {
	display:flex;
	width: 100%;
	margin-top: 70px;
}

.main-wrapper {
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	background: #FFFFFF;
}

.header-texts {
	font-weight: 700;
	font-size: 32px;
	color: #000000;
	padding-left: 80px;
}


/* The design for the main page */
.main {
	display: flex;
	justify-content: space-between;
	width: 1080px;
	padding: 20px 80px 80px 80px;
}

/* There is no post-frames class */
.post-frames {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.createnewpost {
	/* position : fixed; */
	width: 220px;
	height: 200px;
	text-align: center;

	background: #F5F5F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 25px;
}

.createnewpost h1 {
	font-weight: 700;
	font-size: 16px;
	color: #000000;
}

.createnewpost p {
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	margin: 20px 0;
}

.createnewpost button{
	width: 160px;
	height: 30px;
	border: none;
	background: #30475E;
	border-radius: 5px;
	text-decoration: none;
	
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;
}

div.postarea {
	width: 650px;
}

div.postpane {
	padding-bottom: 70px;
	height: 360px;
	width: 650px;
	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	
	transition: outline, transform 0.3s;
}

div.postpane:hover {
	outline: 5px solid white;
	border-radius: 8px;
	
	transform: scale(1.01);
}

img.reviewpic {
	width: 650px;
	height: 300px;
	object-fit: cover;
	object-position: 0 87%;
	border-radius: 8px 8px 0px 0px;
	transition: object-position 1s ease-out 50ms, filter 0.5s ease-out 50ms;
}

div.review {
	position: absolute;
	width: 650px;
	height: 70px;
	top: 230px;

	background: rgba(65, 65, 65, 0.6);
	mix-blend-mode: normal;
}

h1.review {
	position: absolute;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	top: 10px;
	left: 20px;
	letter-spacing: -0.185731px;
	
	color: #FFFFFF;
}

p.review {
	font-family: 'Inter';
	position: absolute;
	left: 20px;
	top: 30px;

	font-style: normal;
	font-weight: 300;
	font-size: 12px;

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;
	
	color: #FFFFFF;
}

div.titlebar {
	position: absolute;
	width: 650px;
	height: 60px;
	top: 300px;

	background: #F5F5F5;
	border-radius: 0px 0px 8px 8px;
}

h1.titlebar {
	position: absolute;
	left: 20px;
	bottom: 30px;
	
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

ul.titlebar{
	position: absolute;
	display: flex;
	width: 270px;
	list-style: none;
	
	bottom: 10px;
	left: 20px;
	font-weight: 300;
}

.titlebar li{
	margin-right: 20px;
}

.titlebar li a{
	color: black;
}

.star-black {
	position: relative;
	top: 10px;
	left: 550px;
	background: black;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 15px;
	width: 15px;
	padding-left: 10px;
}

.star-gold {
	position: relative;
	top: 10px;
	left: 550px;
	background: gold;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 15px;
	width: 15px;
	padding-left: 10px;
}

.titlebar button {
	position: absolute;
    width: 130px;
    height: 40px;
    right: -340px;
    bottom: 0px;
	
    background: #30475E;
    border-radius: 8px;
    outline: none;
    border: none;
	
    font-family: 'Inter';
	font-size: 12px;
	color: white;
}


.postpane-overlay-buttons {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: column;
}

button.postpane-overlay {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: rgb(0,0,0,0);
	border: 2px solid #FFFFFF;
	text-decoration: none;
	display: none;
	
	z-index: 1;

	font-family: 'Inter';
	color: white;
	font-size: 45px;
	font-weight: 500;
	line-height: 20px;
	
	transition: background-color 0.1s ease-out 5ms, color 0.1s ease-out 5ms;
}

div.postpane:hover button.postpane-overlay{
	display: block;
}

div.postpane:hover img.reviewpic{
	object-position: 0 83.5%;
	
	filter: brightness(50%);
	background-color: rgba(65, 65, 65, 0.6);
	mix-blend-mode: normal;
}

button.postpane-overlay:hover {
	background-color: white;
	opacity: 0.8;
	color: black;
	mix-blend-mode: screen;
}

/* This is for the watchlist card at the side */
.watchlist-pane {
	resize: vertical;
	overflow: auto;
	display: inline-block;
	width: 250px;
	min-height: 200px;
	background: #F5F5F5;
}

.watchlist-pane h1 {
	position: relative;
	margin-top: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;

	align-items: center;
	text-align: center;

	color: #000000;
}


/* This is the divider for each watchlist */
.watchlist {
	position: relative;
	top: 10px;
	left: 10px;
	background: url("../assets/watchlist.png") no-repeat left;
	background-position: 10px 6px;
	background-size: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
	
	height: 30px;
	width: 210px;
	
	color: black;
	
	transition: background-color 0.1s ease-out 50ms, transform 0.1s ease-out 50ms;
}

.watchlist p {
	position: absolute;
	top: 5px;
	left: 50px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

.watchlist:hover {
	background-color: #E8CACA;
	transform: scale(1.01);
}

h1.youraccountlist
{
	position: absolute;
	width: 348px;
	height: 58px;
	left: 540px;
	top: 127px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 58px;
	/* identical to box height, or 181% */
	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #000000;
}

div.accsetbox
{
	position: absolute;
	width: 722px;
	height: 737px;
	left: 599px;
	top: 221px;
	background-color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}

div.usersettingsheader
{
	position: absolute;


left: 60px;
top: 50px;


color: #000000;

}

h2.usersettingsheader
{
	position: relative;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 58px;
/* identical to box height, or 289% */

letter-spacing: -0.185731px;

color: #000000;
}

.usersettings-line
{
	position: absolute;
width: 600px;
height: 0px;



border: 1.0351px solid #767676;
}

.editsettingsbutton
{
	position: relative;
	width: 220px;
	height: 41px;
	left: 260px;
	top: 800px;

	background: #30475E;
	border-radius: 5px;

	color: #FFFFFF;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.accsetprevpic
{
	position: relative;
	width: 200px;
	height: 200px;
	top: -4px;
	left: 200px;

	border-radius: 3px;
}

.accsetedittextbox
{
	position: relative;
	bottom: 5px;
	width: 600px;

	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	border: 1px solid #888888;
	border-radius: 7px;
	outline: none;
	padding-left: 10px;
}

div.watchlistcard
{
	position: relative;
	width: 665px;
	height: 320px;
	margin-bottom: 50px;
	
	margin-right: 0px;
	padding-right: 0px;
	border-right: 0px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
}

img.watchlistcard
{
	position: relative;
	width: 162px;
	height: 260px;

	border-right: 0px;
	margin-right: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}


div.watchlistcardinfo
{
	position: absolute;
	width: 661.3px;
	height: 58.31px;
	top: 260px;

	background: #F5F5F5;
	border-radius: 0px 0px 5px 5px;
}

h1.watchlistcardinfo
{
	position: absolute;
	width: 661.3px;
	height: 16px;
	top: 10px;
	left: 25px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 58px;
	/* or 361% */

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #000000;
}

h2.watchlistcardinfo
{
	position: absolute;
	width: 662px;
	height: 12px;
	top: 35px;
	left: 25px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	/* identical to box height, or 98% */

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #000000;
}

div.watchlistcardposterholder
{
	position: absolute;
	width: 662px;
	background-color: gray;
	height: 260px;

 	text-align: center;
 	align-items: center;
 	align-content: center;
}

div.watchlistcardcomment
{
	position: absolute;
	width: 662px;
	height: 63px;
	background: rgba(0, 0, 0, .5);
	top: 200px;
}

h1.watchlistcardname
{
	/*left: 25px;
	position: absolute;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 58px;

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #FFFFFF;*/

	position: absolute;
width: 495px;
height: 16px;
left: 25px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 58px;
/* or 525% */

display: flex;
align-items: center;
letter-spacing: -0.185731px;

color: #FFFFFF;

}

h2.watchlistcardcomment
{
top: 20px;
left: 25px;
position: absolute;
width: 602px;
height: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 12px;
/* or 105% */
text-align: left;
display: flex;

letter-spacing: -0.185731px;

color: #FFFFFF;
}

div.rating
{
	position: absolute;
	width: 100px;
	height: 20px;
	left: 535px;
	color: orange;
}



div.userwindow
{
	position: fixed;
	width: 220px;
	height: 300px;
	left: 1200px;
	top: 160px;

	background: #F5F5F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

div.userwindowpp
{
/*	position: absolute;*/
	top: 20px;
	width: 100px;
	height: 100px;
	left: 60px;
	top: 35px;
}

img.userwindowpp
{
	position: absolute;
	width: 100px;
	height: 100px;
	

	border: 5px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50px;

    top: 40px;
    left: 60px;
}

div.userwindowbp
{
/*	position: fixed;*/
	width: 221px;
	height: 90px;
	left: 1200px;
/*	top: 160px;*/
}

img.userwindowbp
{
/*	position: fixed;*/
	width: 221px;
	height: 90px;
}

div.userwindowinfo
{
	top: 310px;
/*	position: fixed;*/
	width: 220px;
	height: 150px;
}

h1.userwindowname
{
	position: relative;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	margin-top: -50px;

	letter-spacing: -0.185731px;

	color: #000000;
}

p.userwindowgender
{
	position: relative;
	width: 110px;
	height: 15px;
	left: 10px;
	top: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;

}

p.userwindowbirthday
{
	position: relative;
	width: 150px;
	height: 15px;
	left: 110px;
    top: -10px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;
}

p.userwindowposts
{
	position: relative;
	width: 110px;
	height: 15px;
	left: 10px;



	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;
}

p.userwindowcomments
{
	position: relative;
	width: 110px;
	height: 15px;
	left: 110px;
	top: -15px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	letter-spacing: -0.185731px;

	color: #000000;
}

.editprofilebutton
{

	position: absolute;
	width: 160px;
	height: 30px;
	left: 30px;
	top: 250px;

	background: #F05454;
	border-radius: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: white;
	border: none;
	/* identical to box height, or 413% */

	letter-spacing: -0.185731px;

}

/*This is the user tab where you can check the user reviews and collections */

div.usertab {
	width: 1920px;
	height: 40px;
	background-color: #F5F5F5;
	z-index: 1;
	
	position: fixed;
	top: 70px;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
