/* Default Styles for all pages */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol, hr, p, h1 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Inter';
	background: #F5F5F5;
}

.break {
	width: 100%;
}

button {
	cursor:pointer;
}

/* Needed to add another wrapper to center properly */
#main-center {
	display:flex;
	width: 100%;
	margin-top: 70px;
}

.main-wrapper {
	padding-top: 50px;
	display: inline-block;
	margin: 0 auto;
	background: #FFFFFF;
	justify-content: center;
}

.header-texts {
	font-weight: 700;
	font-size: 32px;
	color: #000000;
	padding-left: 80px;
}


/* The design for the main page */
.main {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: flex-start;
	width: 1080px;
	padding: 20px 80px 80px 80px;
	min-height: 100vh;
}

/* There is no post-frames class */
.post-frames {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.createnewpost {
	/* position : fixed; */
	width: 220px;
	height: 200px;
	text-align: center;

	background: #F5F5F5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 25px;
}

.createnewpost h1 {
	font-weight: 700;
	font-size: 16px;
	color: #000000;
}

.createnewpost p {
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	margin: 20px 0;
}

.createnewpost button{
	width: 160px;
	height: 30px;
	border: none;
	background: #30475E;
	border-radius: 5px;
	text-decoration: none;
	
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;
}

div.postarea {
	width: 650px;
}



