/* This is for the watchlist pane at the side */
.watchlist-pane {
	resize: vertical;
	/* overflow: auto; */
	display: inline-block;
	width: 250px;
	/* min-height: 200px; */
	padding: 20px 0;
	background: #F5F5F5;
	position: -webkit-sticky;
	position: sticky;
	top: 110px;
}

.watchlist-pane h1 {
	position: relative;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;

	align-items: center;
	text-align: center;

	color: #000000;
}


/* This is the divider for each watchlist */
button.watchlist {
	position: relative;
	top: 10px;
	left: 10px;
	background: url("../assets/watchlist.png") no-repeat left;
	background-position: 10px 6px;
	background-size: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
	outline: none;
	border: none;
	
	height: 30px;
	width: 210px;
	
	color: black;
	
	transition: background-color 0.1s ease-out 50ms, transform 0.1s ease-out 50ms;
}

.watchlist p {
	position: absolute;
	top: 5px;
	left: 50px;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

.watchlist:hover {
	background-color: #E8CACA;
	transform: scale(1.01);
}

#to-watchlists {
	width: 220px;
	height: 30px;
	border: none;
	background: #F05454;
	border-radius: 5px;
	text-decoration: none;
	
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}