div.watchlistcard
{
	width: 660px;
	height: 320px;
	margin-bottom: 50px;
	border-radius: 8px;
	cursor: pointer;
	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));

	transition: outline, transform 0.3s;
}

div.watchlistcardposterholder
{
	width: 660px;
	background-color: #3d5b7a38;
	height: 260px;

	display: flex;
    justify-content: space-evenly;

	border-radius: 8px 8px 0px 0px;
 	transition: filter 0.3s ease-out 5ms;
}

img.watchlistcard
{
	margin-top: 10px;
	width: 150px;
	height: 240px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));

	border-radius: 3px;
}


div.watchlistcardinfo
{
	position: absolute;
	width: 660px;
	height: 60px;
	top: 260px;

	background: #30475E;
	border-radius: 0px 0px 8px 8px;
}

h1.watchlistcardinfo
{
	position: absolute;
	width: 661.3px;
	height: 16px;
	top: 10px;
	left: 25px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 58px;
	/* or 361% */

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #ffffff;
}

h2.watchlistcardinfo
{
	position: absolute;
	width: 662px;
	height: 12px;
	top: 35px;
	left: 25px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	/* identical to box height, or 98% */

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #ffffff;
}


/*
div.watchlistcardcomment
{
	position: absolute;
	width: 662px;
	height: 63px;
	background: rgba(0, 0, 0, .5);
	top: 200px;
}


h1.watchlistcardname
{
	/*left: 25px;
	position: absolute;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 58px;

	display: flex;
	align-items: center;
	letter-spacing: -0.185731px;

	color: #FFFFFF;

	position: absolute;
width: 495px;
height: 16px;
left: 25px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 58px;
/* or 525% 

display: flex;
align-items: center;
letter-spacing: -0.185731px;

color: #FFFFFF;

}


h2.watchlistcardcomment
{
top: 20px;
left: 25px;
position: absolute;
width: 602px;
height: 40px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 12px;
text-align: left;
display: flex;

letter-spacing: -0.185731px;

color: #FFFFFF;
}
*/

/*overlay stuff*/

div.watchlistcard:hover {
	outline: 5px solid white;
	border-radius: 8px;
	
	transform: scale(1.01);
}

.postpane-overlay-buttons {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: column;
}

button.postpane-overlay {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: rgb(0,0,0,0);
	border: 2px solid #FFFFFF;
	text-decoration: none;
	display: none;
	
	z-index: 1;

	font-family: 'Inter';
	color: white;
	font-size: 45px;
	font-weight: 500;
	line-height: 20px;
	
	transition: background-color 0.1s ease-out 5ms, color 0.1s ease-out 5ms;
}

div.watchlistcard:hover button.postpane-overlay{
	display: block;
}

div.watchlistcard:hover div.watchlistcardposterholder{
	object-position: 0 83.5%;
	
	filter: brightness(50%);
	mix-blend-mode: normal;
}

button.watchlistcard-overlay:hover {
	background-color: white;
	opacity: 0.8;
	color: black;
	mix-blend-mode: screen;
}




