{{!-- IN THE FOLLOWING FILES: --}}
{{!-- index.hbs --}}

<div id="login-success">
    <h1 class="createaccount">Successfully Logged In!</h1>
    <p class="signup-success">You can now create posts, comment, create watchlists, etc.</p>
    <p class="signup-success">Now, proceed to the main page</p>
    <button class="signup-success" onclick="location.href = 'logged_in.html'">Proceed to Main Page</button>
</div>