{{!-- IN THE FOLLOWING FILES: --}}
{{!-- index.hbs --}}

<div id="oops">
    <h1 class="createaccount">Oops... You need to log in first</h1>
    <h1><a class="cancelbutton" href="#" onclick="oopsoff()">X</a></h1>
        <p class="oops">In order to enjoy the full features</p><br>
        <p class="oops-p">Already have an account?</p>
        <button class="oops" onclick="LoginOverlayOn()">Log In</button>
        <p class="oops-p">OR</p>
        <hr class="oops1">
        <hr class="oops2">
        
        <p class="oops-p">Don’t have an account yet? </p>
        <button class="oops" onclick="SignUpOverlayOn()">Sign Up</button>
</div>